.hero-wrapper{
  position: relative;
  .hero{
    position: relative;
    z-index: -2;
    .circle{
      position: absolute;
      top: -80px;
      right: 0;
      z-index: -1;
  }
  

  }
  .feature-container {
    position: absolute;
   top: 0px;
    background-color: white; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    
    .feature-icon{
        font-size: 44px;
        
        .feature-icon:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease;
          }
    }
   
    
    h4 {
      color: #272343; 
    }
  
    p {
      color: #4a4a4a;
    }
  }
  
}





