@import "../App.scss";

.filter-top{
    padding-top: 24px;
    .filter-top-content{
        background-color: #bbb9b9;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        .filter-top-sort{
            .filter-select{
                opacity: 0.9;
            }
        }

        .filter-top-view{
            margin-left: 20px;
            p{
                margin-bottom: 3px;
            }

            .grid-btn, .list-btn{
                margin-left: 8px;
                transition: all 300ms ease-in-out;

                &:hover{
                    color: #555555;
                }
            }
        }
    }
}