.list {
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(min(24rem, 100%), 1fr)
     
        );
        gap: 50px;

        .list-child{
            border: 1px solid grey;
        }
}  
.list-responsive {
        display: grid;
        grid-template-columns: repeat(
            2,
            minmax(min(7rem, 100%), 1fr)
     
        );
        gap: 100px;
}  
  
