@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.max-width {
  @apply max-w-[1300px] lg:px-[100px] mx-auto md:px-[80px] sm:px-[40px] px-[20px] ;
}

.flex-row {
  @apply flex items-center justify-center ;
}

.flex-column {
  @apply flex flex-col items-center justify-center;
}

.cart-bg {
  @apply h-[44px] rounded-lg px-[16px] py-[11px] hover:bg-hover-color hover:text-white transition-all duration-300 ease-in-out ;
}

.li-style {
  @apply text-[#636270] font-inter font-medium text-[16px] leading-[15.4px] hover:text-hover-color transition-all duration-300 ease-in-out;
}
.slider {
  @apply h-[50px] w-[50px] rounded-full flex flex-row text-black hover:bg-hover-color hover:text-white transition-all duration-300 ease-in-out;
}

.button {
  @apply rounded-lg text-white flex-row bg-green hover:bg-hover-color py-[14px] px-[24px] h-[46px] transition-all duration-300 ease-in-out;
}

.sidebar-container {
  @apply fixed top-0 left-0 z-50 h-full transition-transform duration-300 ease-in-out bg-white shadow-lg w-80;
}

.sidebar-header {
  @apply flex items-center h-16 text-white bg-green;
}

.sidebar-content {
  @apply py-6 pl-10;
}

.sidebar-title {
  @apply mb-4 text-lg font-semibold;
}

.sidebar-list-item {
  @apply relative py-2 cursor-pointer w-[50px];
}

.sidebar-list-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #38a169;
  transition: width 0.3s ease-in-out;
}

.sidebar-list-item:hover::before {
  width: 100%;
}

.close-icon {
  @apply absolute w-8 h-8 text-white cursor-pointer top-4 right-4;
}

.flex-center {
  @apply flex items-center justify-start gap-3 pl-4;
}


.clamp-font-size {
  font-size: clamp(25px, 5vw, 60px);
  font-weight: 700;
}

.clamp-dimensions {
  width: clamp(400px, 50vw, 500px);
  height: clamp(400px, 50vh, 500px);
}

.slick-prev, .slick-next {
  color: black !important;
} 

.slick-slide{
  padding:0 20px 0 1px !important;
}

.custom-rating {
  display: inline-flex; 
}

.custom-rating svg {
  height: 24px;
  width: 24px;
  margin-right: 5px; 
  display: inline-flex;
  transition: all 0.3 ease-in-out;
}

.custom-rating:hover svg {
  transform: scale(1.1); 
  transition: transform 0.2s; 
}

.style-module_emptyIcons__Bg-FZ{
  display: flex;
}

.filled-icons{
  color: #FF9529;

}

/* MAP */
.cluster-icon{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.2rem;
}

.leaflet-container {
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  background-color: transparent !important;

  @media (max-width: 900px){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    /* height: 100%; */
  }
}

.left-section {
  flex: 1;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  @media (max-width: 900px){
    display: flex;
    width: 100%;
  }
}

.left-section span{
  color: #029FAE;
  font-weight: 700;
}

.left-section h2 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
}

.left-section p {
  font-size: 12px;
  margin-bottom: 8px;
  color: #718096;
}


.right-section {
  width: 100%;
  flex: 2;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Scrollbar */
.custom-scrollbar{
  @media (max-width: 900px){
    width: 100%;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 4px;
  border: 2px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #718096;
}

.sc-title{
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 10px;

  h3{
      position: relative;
      display: inline-block;
      font-size: 28px;
      font-weight: 700;

      &::after{
          content: "";
          position: absolute;
          left: calc(100% + 20px);
          top: 50%;
          transform: translateY(-50%);
          width: 80px;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.3);
      }

      &::before{
          content: "";
          position: absolute;
          right: calc(100% + 20px);
          top: 50%;
          transform: translateY(-50%);
          width: 80px;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.3);
      }

      @media screen and (max-width: 992px){
          font-size: 24px;
      }

      @media screen and (max-width: 768px){
          font-size: 20px;
      }

      @media screen and (max-width: 576px){
          font-size: 16px;
      }
  }
}
