@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

li {
    a{
        font-family: "DM Sans", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 17.6px;
        color: #9A9CAA;
    }
}